/***************** General Layouts *****************/

.home_text{
	font-size: 23.8888px;
	margin-top: 40px;
	text-align: center;
}

.home_header{

	text-align: center;
	background-color: darkred;
	padding-top: 20px;
	padding-bottom: 30px;
}

.header_text{
	color: white;
}

a{
	color: white;
}

/* Music page layouts */

.music1{
	margin-bottom: 40px;
}

.music_text{
	font-size: 32px;
	margin-bottom: px;
}


/******************* About page layouts ******************/

.apple{
	height: 125px;
	width: 125px;
}

.webdesign{
	
	margin-top: 20px;
	height: 125px;
}

.linux{
	height: 125px;
}

.rails{
	height: 125px;
}

.ps3{
	height: 125px;
}

.xbox{
	height: 125px;
}

.microsoft{
	height: 125px;
}

.about_text{
	font-size: 1.5em;
}
/********************* Contact page layouts *****************/

.contact_pic{
	height: 400px;
	width: 225px;

}

.mail_pic{
	height: 37px;
	width: 37px;
}

.phone_number{
	display: inline;
}

.phone_pic{
	height: 37px;
	width: 17px;
}

.contact_text{
	font-size: 1.5em;
}

.github_link{
	height: 125px;
}

/**************** Home page layouts ***********************/

.index_pic{
	height: 400px;
	width: 650px;
}



