/*************** Text styles ****************/

.header_div{
	background-color: black;
	padding-top: 30px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 20px;
}

.header_text{
	color: white;
	font-size: 1.5em;
}



/**************** Picture styles and sizes ****************/

.ashbybart{
	height: 300px;
	width: 600px;
}

.berkeleyriots1{
	height: 200px;
	width: 450px;
}

.berkeleyriots2{
	height: 200px;
	width: 450px;
}

.berkeleyriots3{
	height: 200px;
	width: 450px;
}

.oakland_bart{
	height: 300px;
	width: 650px;
}

.peets{
	height: 450px;
	width: 650px;
}



/**************** General styles of the page itself****************/


body{
	background-color: red;
}